@charset "utf-8";
*{
	margin: 0;padding: 0;list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
*:not(input,textarea) { 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
}
div{
	box-sizing: border-box;
}
.suitable-object{
	padding:10px 19px;
	line-height:24px;
	font-size:12px;
	background:#e5f3ff;
	border-bottom: 4px solid #F2F2F2;
	color:#3064d3;
	font-weight:bold;
}
#banner{
	width: 100%;border-bottom: 4px solid #F2F2F2;
}
#container .advantage{
	width: 100%;height:124px;border-bottom: 4px solid #F2F2F2;
}
#container h1{
	font-size: 14px;padding-left: 20px;position: relative;margin-top: 25px;margin-bottom: 25px;
}
#container h1 i{
	position: absolute;width: 22px;height: 3px;background-color: #80c7ff;border-radius: 1px;bottom:-5px;left:20px;
}
#container .advantage ul li{
	float: left;width: 25%;list-style: none;color:#3064d3;text-align: center;padding: 0;
}
#container .advantage ul li p{
	color:#3064d3;
}
#container .advantage ul li img{
	width: 35px;margin-bottom: 5px;
}
.product{
	width: 100%;height: 124px;border-bottom: 1px solid #f2f2f2;
}
#container ul li{
	width:33%;float: left;font-size: 13px;
	text-align: left;margin-bottom:15px;box-sizing:border-box;padding-left:20px;
}
#container ul li img{
	width: 16px;vertical-align: text-top;margin-right: 2px;
}
.service{
	width: 100%;height: 124px;border-bottom: 1px solid #f2f2f2;
}
#container .service ul li:nth-child(4){
	width: 50%;
}
.funny{
	width: 100%;height: 160px;border-bottom: 1px solid #f2f2f2;
}
.aiservice{
	width: 100%;height: 160px;border-bottom: 1px solid #f2f2f2;
}
.word{
	width: 100%;height: 100px;border-bottom: 1px solid #f2f2f2;box-sizing: border-box;
}
.word p{
	padding-left: 20px;padding-right: 20px;font-size: 13px;
}
.last{
	height:auto;
	border-bottom: 4px solid #f2f2f2;
}
.qrcode-wrap{
	padding:28px 0;
	text-align:center;
	background:#fff;
}
.qrcode-wrap img{
	width:50%;
	margin-bottom:17px;
}
.qrcode-wrap div{
	font-size:14px;
	color:#1c4292;
	font-weight:bold;
}
.qrcode-wrap p{
	font-size: 12px;
    color: #8f8f94;
	-moz-user-select:text;
	-webkit-user-select:text;
	user-select: text;
}
.qrcode-wrap p span{
	-moz-user-select:text;
	-webkit-user-select:text;
	user-select: text ;
}
#form{
	width: 100%;padding-top: 20px;text-align:center;box-sizing: border-box;
}
#form .form2{
	width: 90%;border:1px solid #E7E7E7;display: inline-block;
	padding-bottom: 30px;border-radius: 5px;
}
#form h1{
	font-size: 14px;line-height:50px;background-color:#E7E7E7; padding-left: 15px;width: 100%;
	margin: 0 auto;box-sizing: border-box;text-align: left;
}
#form .fcontainer{
	width: 100%;text-align: center;
}
#form .fcontainer h3{
	line-height: 30px;padding-left: 18px;text-align: left;font-size: 14px;line-height: 35px;
}
#form .fcontainer input{
	width: 90%;border:none;background-color: #F9F9F9;height: 40px;padding-left: 20px;box-sizing: border-box;margin: 0 auto;font-size: 14px;
	border:1px solid #c7c0c0;border-radius: 4px;-webkit-user-select:block;
}
.btn{width: 100%;text-align: center;}
button{
	width: 90%;margin: 0 auto;color:#FFDA43;height: 44px;background-color: #292927;border:none;border-radius: 5px;font-size: 16px;
	margin-bottom: 20px;letter-spacing: 4px;font-weight: bold;margin-top: 20px;box-sizing: border-box;
}
.btn p{
	font-size: 12px;
    color: #8f8f94;
	-moz-user-select:text;
	-webkit-user-select:text;
	user-select: text;
	margin-bottom:20px;
}
.btn p span{
	-moz-user-select:text;
	-webkit-user-select:text;
	user-select: text ;
}
body{position: relative;background-color: #fff;}
#error{position: absolute;left: 0;right: 0;bottom: 0;top: 0;display:none;}
#error .err{width: 200px;height: 40px;background-color: rgba(0,0,0,.7);position:fixed;left: 50%;top: 40%;transform: translateX(-100px);
	border-radius: 5px;text-align: center;line-height: 40px;font-size: 16px;color: #fff;}
#success{position: absolute;left: 0;right: 0;bottom: 0;top: 0;}
#success div{width: 200px;height: 100px;background-color: rgba(0,0,0,.7);position:fixed;left: 50%;top: 40%;transform: translateX(-100px);
	border-radius: 5px;text-align: center;line-height: 40px;font-size: 16px;color: #fff;}
#success div h1{font-size: 16px;letter-spacing: 4px;}
#success div button{width: 200px;margin-top: 15px;}

.tel-wrap{
	position:relative;
}
.get-code{
	position: absolute;
    right: 5%;
    top: 0;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    width: 80px;
    border-left: 1px solid #c7c0c0;
    cursor: pointer;
}