<!Doctype html>  
<html xmlns=http://www.w3.org/1999/xhtml>
	<head>
		<meta charset="UTF-8">
		<title>智能王二狗-微信生态内的高智商AI机器人</title>
		<meta name="description" content="智能王二狗诞生于2016年，是微信生态内最智能的互动机器人。王二狗拥有聊天、游戏、音乐、百科等多种技能，是群内的好伙伴，也是个人的好密友。无处不在的王二狗，你还不快来领养一只！">
		<meta name="viewport" content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=no">
		<link rel="shortcut icon" href="../images/favicon.ico" tppabs="http://www.w2gou.com/mobile/images/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css" tppabs="http://www.w2gou.com/css/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/public_mobile.css" tppabs="http://www.w2gou.com/mobile/css/public_mobile.css"/>
		<script>
			var _hmt = _hmt || [];
			(function() {
			var hm = document.createElement("script");
			hm.src = "../../../hm.baidu.com/hm.js-ef4c37579c0de8af35e8e29aac0e9983.js"/*tpa=https://hm.baidu.com/hm.js?ef4c37579c0de8af35e8e29aac0e9983*/;
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
			})();
		</script>
		<script src="../js/jquery.min.js" tppabs="http://www.w2gou.com/mobile/js/jquery.min.js"></script>
		<script src="../js/loading.js" tppabs="http://www.w2gou.com/mobile/js/loading.js"></script>
		<script type="text/javascript">
			$(function() {
				var arr = ["page1_animation.gif"/*tpa=http://www.w2gou.com/mobile/view/page1_animation.gif*/, "page1_pic.png"/*tpa=http://www.w2gou.com/mobile/view/page1_pic.png*/, "page1_title.png"/*tpa=http://www.w2gou.com/mobile/view/page1_title.png*/, "public_qr_square.png"/*tpa=http://www.w2gou.com/mobile/view/public_qr_square.png*/,"page_qr.png"/*tpa=http://www.w2gou.com/mobile/view/page_qr.png*/];
				loadingPlus(arr, function() {})
			})
		</script>
	</head>
	<body>
		<div class="loading" id="loading">
			<div class="loading_bar"></div>
			<div class="loading_qc">
				<div></div>
			</div>
		</div>
		<div class="swiper-container swiper-container-vertical">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="page page_1">
						<div class="title">
							<img src="../images/page1/page1_title.png" tppabs="http://www.w2gou.com/mobile/images/page1/page1_title.png"/>
						</div>
						<div class="content">
							<img src="../images/page1/page1_pic.png" tppabs="http://www.w2gou.com/mobile/images/page1/page1_pic.png" class="cont_sz"/>
							<img src="../images/page1/page1_animation.gif" tppabs="http://www.w2gou.com/mobile/images/page1/page1_animation.gif" class="cont_weg_1"/>
							<div class="ewm-wrap">
								<!--<img src="../images/page1/page_qr.png"/>
								<p>关注公众号，可领养二狗</p>-->
								<img src="../images/page1_QRCode.png" tppabs="http://www.w2gou.com/mobile/images/page1_QRCode.png" alt="">
							</div>
						</div>
						<!--<div class="logo">
							<img src="../images/logo.png" />
						</div>-->
					</div>
				</div>
				<div class="swiper-slide">
					<div class="page page_2">
						<div class="title">
							<img src="../images/page2/page2_title.png" tppabs="http://www.w2gou.com/mobile/images/page2/page2_title.png"/>
						</div>
						<div class="content">
							<img src="../images/page2/page2_pic.png" tppabs="http://www.w2gou.com/mobile/images/page2/page2_pic.png" class="cont_sj"/>
							<img src="../images/page2/page2_dialog.png" tppabs="http://www.w2gou.com/mobile/images/page2/page2_dialog.png" class="cont_dialog"/>
							<img src="../images/page2/page2_animation.gif" tppabs="http://www.w2gou.com/mobile/images/page2/page2_animation.gif" class="cont_weg_2"/>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="page page_3">
						<div class="title">
							<img src="../images/page3/page3_title.png" tppabs="http://www.w2gou.com/mobile/images/page3/page3_title.png"/>
						</div>
						<div class="content">
							<img src="../images/page3/page3_pic_2.png" tppabs="http://www.w2gou.com/mobile/images/page3/page3_pic_2.png" class="cont_lz"/>
							<img src="../images/page3/page3_animation.gif" tppabs="http://www.w2gou.com/mobile/images/page3/page3_animation.gif" class="cont_weg_3"/>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="page page_4">
						<div class="title">
							<img src="../images/page4/page4_title.png" tppabs="http://www.w2gou.com/mobile/images/page4/page4_title.png"/>
						</div>
						<div class="content">
							<img src="../images/page4/page4_pic.png" tppabs="http://www.w2gou.com/mobile/images/page4/page4_pic.png" class="cont_pic"/>
							<img src="../images/page4/page4_animation.gif" tppabs="http://www.w2gou.com/mobile/images/page4/page4_animation.gif" class="cont_weg_4"/>
						</div>
						<p>N种生活服务，与微信群好友共享</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="page page_5">
						<div class="title">
							<img src="../images/page5/page5_title.png" tppabs="http://www.w2gou.com/mobile/images/page5/page5_title.png"/>
						</div>
						<div class="content">
							<img src="../images/page5/page5_dialog.png" tppabs="http://www.w2gou.com/mobile/images/page5/page5_dialog.png" class="cont_dialog"/>
							<img src="../images/page5/page5_animation.gif" tppabs="http://www.w2gou.com/mobile/images/page5/page5_animation.gif" class="cont_weg_5"/>
							<!--<div class="ewm">
								<img src="../images/page1/page_qr.png"/>
								<p>长按二维码领养二狗</p>
							</div>-->
							<div class="ewm-wrap">
								<img src="../images/page5_QRCode.png" tppabs="http://www.w2gou.com/mobile/images/page5_QRCode.png" alt="">
							</div>
						</div>
					</div>
					<!--<footer>
						<p>©2015-2017  www.lakatv.com</p>
						<p>啦咔网络 版权所有</p>
					</footer>-->
					<!--<footer>
						<ul>
							<li><a href="http://www.lakatv.com/index.html" target="_blank">啦咔首页</a></li>
							<li><a href="http://www.lakatv.com/about_us.html" target="_blank">关于我们</a></li>
							<li><a href="http://www.lakatv.com/join_us.html" target="_blank">加入我们</a></li>
						</ul>
						<p>©2015-2017 www.lakatv.com 啦咔网络 版权所有</p>
						<p>广州啦咔网络科技有限公司 粤ICP备16031122号-1  </p>
						<p><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010602002265"><img src="../images/beian.png"/>粤公网安备 44010602002265号</a></p>
					</footer>-->
				</div>
			</div>
			<div class="link_up">
				<img src="../images/public_next.png" tppabs="http://www.w2gou.com/mobile/images/public_next.png" class="up_move_hide_a"/>
				<img src="../images/public_next.png" tppabs="http://www.w2gou.com/mobile/images/public_next.png" class="up_move_hide_b"/>
			</div>
		</div>
		<script type="text/javascript" src="../js/jquery.min.js" tppabs="http://www.w2gou.com/mobile/js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/swiper.jquery.min.js" tppabs="http://www.w2gou.com/mobile/js/swiper.jquery.min.js"></script>
		<script type="text/javascript" src="../js/index.js" tppabs="http://www.w2gou.com/mobile/js/index.js"></script>
	</body>
</html>