@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	background: #fcfcfc;
	font-family: "Microsoft YaHei";
	height: 100%;
}

html {
	font-family: "Microsoft YaHei";
	height: 100%;
	font-size:10px;
}
@font-face {
	font-family: nubFont;
	src: url("GothamBook.ttf")/*tpa=http://www.w2gou.com/h5/fonts/GothamBook.ttf*/
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clear {
	zoom: 1;
}

.clear:after {
	content: '';
	display: block;
	clear: both;
}

.mian_mes {
	height: 18.5rem;
	/*background-image: url(../img/public_bg.png);*/
	/*background-size: 15%;*/
	background:#ffe03e;
	text-align: center;
	position: relative;
	z-index: 501;
	top: 0;
	width: 100%;
}

.mes_wrap {
	height: 19rem;
	background-color: #fff;
	z-index: 10;
}

#segmentedControl {
	width: 100%;
	/*background-color: #fcfcfc;*/
	text-align: center;
	/*border-top: 1px solid #F2F2F2;
	border-bottom: none !important;
	border-left: none !important;
	border-right: none !important;*/
	border:0 !important;
	height: 5rem;
	position: relative;
	width: 100%;
	z-index: 500;
	overflow: hidden;
	display:block;
}

.empty{
	height: 30rem;
}
.mui-control-content {
	/*padding-top: 5rem;*/
}

.mian_mes .vip_exp {
	display: inline-block;
	position: absolute;
	top: 1.25rem;
	right: 1.25rem;
	width: 3rem;
	width: 6.5rem;
	height: 2.3rem;
	object-fit: contain;
	border-radius: 4px;
	background-color: #ffffff;
	border: solid 1px #ffbb28;
	font-size: 1rem;
	color: #ffbb28;
	line-height: 2.3rem;
	font-weight: bolder;
	
	display: none;
}

.mian_mes .vip_exp img {
	width: 60%;
	height: auto;
}

.vip_exp {
	display: none;
}

.mian_mes .img_head {
	margin-top: 1.6rem;
	width: 6.5rem;
	height: 6.5rem;
	background: #fff;
	border: solid 2.5px #fff;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	background-size: cover !important;
}

.mian_mes .img_head>img {
	position: absolute;
	display: none;
	top: -1.8rem;
	right: -0.5rem;
	width: 52%;
	height: auto;
}

.mian_mes .my_robt {
	position: absolute;
	top: 1.25rem;
	left: -0.1rem;
	width: 6.5rem;
	display:none;
}
.mian_mes .my_robt p{
	font-size: 1rem !important;
	margin-bottom: 0;
	margin-top: -0.5rem;
	color:#925d00;
}
.mian_mes .my_robt img {
	height: auto;
	width: 2.24rem;
}

.mian_mes .my_order {
	position: absolute;
	top: 1.25rem;
	right: -0.1rem;
	width: 6.5rem;
	display: none;
}
.mian_mes .my_order p{
	font-size: 1rem !important;
	margin-bottom: 0;
	margin-top: -0.5rem;
	color:#925d00;
}
.mian_mes .my_order img {
	height: auto;
	width: 2.24rem;
}

.mian_mes .user_name {
	font-size: 1.4rem;
	line-height: 2.4rem;
	margin: .3rem auto;
	/*font-family: 'nubFont';*/
	color:#925d00;
}

.user_name>span {
	position: relative;
}

.user_name span img {
	position: absolute;
	width: 0.6rem;
}

.user_name span .left {
	top: 0.1rem;
	left: -1rem;
}

.user_name span .right {
	bottom: -.35rem;
	right: -0.8rem;
}

.mian_mes .buy_btn {
	margin: 1rem auto;
	width: 15rem;
	height: 4rem;
	line-height: 4rem;
	border-radius: 0.6rem;
	font-size: 1.2rem;
	/*color: #ffda43;*/
	font-weight: bolder;
	/*border: 2px solid #333;
	background: #333;*/
	background-color: #ffffff;
	box-shadow: -8.5px 8.5px 20px 0 rgba(225, 164, 0, 0.35);
	color:#794d00;
}

/*.mian_mes .vip_btn {
	border: 2px solid #333;
	color: #333;
	background: none !important;
}*/

#segmentedControl a {
	display: inline-block;
	width: 43%;
	text-align: center;
	font-size: 1.4rem;
	height: 5rem;
	line-height: 5rem;
	color: #aaa;
	position: relative;
}

#segmentedControl .newmes {
	background: url(10.png)/*tpa=http://www.w2gou.com/h5/img/personalCenter/10.png*/ right 4.2rem top 1.5rem no-repeat;
	background-size: 4.5%;
}

.mui-segmented-control .mui-control-item.mui-active {
	color: #292928 !important;
	font-weight: bolder;
	background-image: none !important;
	background-color: #f7f7f7;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border: none !important;
}

#segmentedControl>span {
	position: absolute;
	background: #E5E5E5;
	width: 1px;
	height: 1.2rem;
	margin-top: 2rem;
	display: inline-block;
	z-index: 2;
}

.mui-table-view {
	position: relative;
	overflow: hidden;
	width: 35.5rem;
	height: 8rem;
	object-fit: contain;
	border-radius: 5px;
	background-color: #ffffff;
	/*box-shadow: 0px 2px 6.3px 0.7px rgba(8, 1, 3, 0.07);*/
	margin: 0 auto;
	margin-top: .8rem;
}
/*.mui-table-view::nth-of-type(){
	margin-top:
}*/
#to_syq{
	margin-bottom:1.5rem;
}

.mui-table-view-cell {
	position: relative;
	overflow: hidden;
	padding: 2.0rem 1rem;
}
#buy_list .mui-table-view-cell{
	position: relative;
	overflow: hidden;
	padding: 1.2rem 0;
}

.mui-table-view-cell .img_wrap {
	width: 4.3rem;
	height: 4.3rem;
	/*background: url(../img/personalCenter/2.jpg);*/
	background-size: cover;
	box-sizing: border-box;
	border-radius: 6px;
	float: left;
	display: inline-block;
	text-align: center;
}
.mui-table-view-cell .img_wraps {
	width: 8.5rem;
	height: 5.6rem;
	margin-left: 0.2rem;
	/*background: url(../img/personalCenter/2.jpg);*/
	background-size: cover;
	box-sizing: border-box;
	border-radius: 6px;
	float: left;
	display: inline-block;
	text-align: center;
}
.mui-table-view-cell .img_wrap img {
	width: 100%;
	height: 100%;
	border-radius: 6px;
}
.mui-table-view-cell .img_wraps  img {
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

.mui-table-view-cell .circle {
	border-radius: 50%;
}

.mui-table-view-cell .circle img {
	width: 100% !important;
	height: 100%;
	display: inline-block;
	border-radius: 50%;
}

.mui-table-view-cell .content_wrap {
	display: inline-block;
	margin-left: 1rem;
	color: #333;
	width: 60%;
	margin-top: -0.1rem;
}
#buy_list .mui-table-view-cell .content_wrap {
	margin-left: 0.5rem;
}
#buy_list .mui-table-view-cell .content_wrap{
	padding-top: 1rem;
}
.mui-content {
	/*padding-top: 9.5rem;*/
}

.mui-table-view-cell .newdate {
	color: #aaa;
	font-family: 'nubFont';
	font-size: 1.1rem;
}

.mui-table-view-cell .newdate p {
	font-size: 1.1rem;
}

.mui-table-view-cell .content_wrap p {
	color: #000;
	height: 1.5rem;
	line-height: 1.5rem;
}

.mui-table-view-cell .content_wrap p:nth-child(1) {
	font-size: 1.4rem;
	height: 2rem;
	line-height: 2rem;
	/*font-family: 'nubFont';*/
	position:relative;
}
.mui-table-view-cell .content_wrap p:nth-child(1) span{
	font-weight:bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 13rem;
	display: inline-block;
	font-size:1.5rem;
}
.expire-tip{
	color:#ff0000;
	font-size:1.2rem;
	background:#ffe6e6;
	padding:0 .4rem;
	height:1.6rem;
	line-height:1.6rem;
	font-style: normal;
	position:absolute;
	top:.2rem;
	border-radius: .2rem;
	font-weight:bold;
	margin-left:.8rem;
	white-space: nowrap;
}
#buy_list .mui-table-view-cell .content_wrap p:nth-child(1) {
	/*font-size: 1.3rem;*/
	overflow:visible;
	 color: #01deff;
	 font-weight: bold;
	 height: 1.4rem;
	 width: 15.9rem;
}
#buy_list .mui-table-view-cell .content_wrap p:nth-child(1) img{
	width: 100%;
	height: 100%;
}
.mui-table-view-cell .content_wrap .vip_exp {
	color: red;
}
#buy_list .mui-table-view-cell .content_wrap p:nth-child(2){
	height: 3.4rem;
	line-height: 3.4rem;
	color: #a6a6a6;
}
.mui-table-view-cell .content_wrap p:nth-child(2) {
	font-size: 1.1rem;
	color: #aaa;
	height: auto;
	/*line-height: 1rem;*/
	line-height: initial;
	/*width: 20rem;*/
	display: flex;
	/*text-overflow: ellipsis;
	overflow: hidden;*/
	white-space: nowrap;
	float:left;
	margin-right:.8rem;
	padding: .7rem 0;
	/*margin-top:.5rem;*/
}

.mui-table-view-cell .content_wrap p:nth-child(2)>span {
	/*text-overflow: ellipsis;
	overflow: hidden;*/
	white-space: nowrap;
	margin-left: 0.3rem;
	float:left;
	line-height:1.1rem;
}

.mui-table-view-cell .content_wrap .message {
	/*margin-left: -.5rem;*/
}

.mui-table-view-cell .content_wrap p .flag {
	display: inline-block;
	width: 3.9rem;
	height: 2.4rem;
	background: url(8.png)/*tpa=http://www.w2gou.com/h5/img/personalCenter/8.png*/ no-repeat center;
	background-size: 100%;
}

.mui-table-view-cell .content_wrap p .flag_vip {
	background: url(3.png)/*tpa=http://www.w2gou.com/h5/img/personalCenter/3.png*/ no-repeat center;
	background-size: 100%;
}

.mui-table-view-cell .content_wrap p .robtname {
	max-width: 6rem;
	/*text-overflow: ellipsis;
	overflow: hidden;*/
	/*font-family: 'nubFont';*/
	margin-left: 0 !important;
}


/*.mui-table-view-cell .content_wrap p .undue {
	margin-left: -0.5rem;
}*/
.mui-content {
    background-color: #f7f7f7;
}
.mui-content ul {
	/*background-color: #FCFCFC;*/
	padding-bottom:1rem;
}

.mui-table-view-cell .content_wrap p .state {
	display: inline-block;
	/*height: 2.5rem;
	line-height: 2.5rem;*/
	color: #292928;
	/*font-size: 1.1rem;*/
	/*position: relative;
	top: .2rem;*/
}

.mui-segmented-control .mui-control-item.mui-active:after {
	content: '';
	text-align: center;
	width: 1.4rem;
	height: .25rem;
	background: #ffda43;
	border-radius: .2rem;
	display: inline-block;
	position: absolute;
	bottom: 1.2rem;
	left: 7.2rem;
}

.mui-table-view-cell .content_wrap p .normal {
	color: #17c05b;
}

.mui-table-view-cell .content_wrap p .rest {
	color: #ff8b01;
}

.mui-table-view-cell .content_wrap p .abnormal {
	color: #ff8b01;
}

.mui-table-view-cell .content_wrap p .forbid {
	color: #ff8b01;
}

.mui-table-view-cell .content_wrap p .sleep {
	color: #ff8b01;
}

.mui-table-view-cell .content_wrap p .expire {
	color: #ff0000;
}

.mui-table-view-cell .content_wrap p .seal {
	color: #ff0000;
}

.mui-table-view-cell .content_wrap p .leave {
	color: #ff0000;
}

.mui-table-view-cell .content_wrap p .unknown {
	color: #ff0000;
}

.mui-table-view-cell .content_wrap p:nth-child(3) {
	font-size: 1.1rem;
	color: #333;
	float: left;
    height: 2.5rem;
    /*line-height: 1rem;*/
	line-height: initial;
	/*margin-top:.5rem;*/
	/*border-left:1px solid #cdcdcd;*/
	/*padding-left:.7rem;*/
	position:relative;
	color:#afafaf;
	padding:.7rem 0 .5rem 0;
	/*background:#eee;*/
}
.mui-table-view-cell .content_wrap p:nth-child(3)>span{
	float:left;
	line-height:1.1rem;
	/*background:#eee;*/
}
.mui-table-view-cell .content_wrap p:nth-child(3) .line{
	padding-left:.7rem;
	border-left:1px solid #cdcdcd;
}
/*.mui-table-view-cell .content_wrap p:nth-child(3):before{
	content:'';
	width:1px;
	height:1rem;
	position:absolute;
	left:0;
	top:.8rem;
	background:#cdcdcd;
}*/
.mui-table-view-cell .content_wrap p:nth-child(3) .date{
	color:#606060;
	font-family: nubFont;
	/*line-height:1rem;*/
	/*margin-top:-.1rem;*/
}
.mui-table-view-cell .content_wrap p:nth-child(3) .date.red{
	color:#ff0000;
}

.mui-segmented-control.mui-scroll-wrapper {
	height: 4rem !important;
}

.mui-table-view-cell .into {
	float: right;
	height: 3rem;
	line-height: 2.5rem;
	color: #292928;
	display: inline-block;
	text-align: center;
	margin-left: -2rem;
	width: 10rem;
	position: relative;
	margin-top: -0.5rem;
}

.mui-table-view-cell .minute {
	margin-left: 1rem;
}

.mui-table-view-cell .regain {
	background-color: rgba(255, 204, 102, 1);
}

.mui-table-view-cell .renew {
	background-color: rgba(255, 153, 51, 1);
}

.empty img {
	width: 50% !important;
	height: 50%;
	display: inline-block;
	margin: 17% 25%;
}

.mui-table-view-cell .into p:nth-child(1) {
	/*color: #222;*/
	font-size: 1.2rem;
	line-height: 2.8rem;
	font-weight: 600;
	box-sizing: border-box;
	/*border: 1px solid #222;*/
	border-radius: 5px;
	min-width: 6.4rem;
	height: 2.7rem;
	margin-top: .9rem;
	margin-left: 3rem;
	background:#ffdb1f;
	color:#794d00;
}
#buy_list .mui-table-view-cell .into p:nth-child(1){
	border: none;
	color: #333;
	font-size: 1.1rem;
	margin-top: 2rem;
	margin-right: 2.15rem;
	width: auto;
	font-weight: 400;
}
#buy_list .mui-table-view-cell .close{
	position: absolute;
	top: 0;
	right: 0;
	width: 2.3rem;
	height: 2.3rem;
}
#buy_list .mui-table-view-cell .close img{
	width: 100%;
	height: 100%;
}
.mui-table-view-cell .into .xufei {
	background: #292928 !important;
	color: #ffda43 !important;
}

.mui-table-view-cell .into .tuiqun {
	background: #f0f0f0 !important;
	color: #aaa !important;
	border: 1px solid #F0F0F0 !important;
}

.mui-table-view-cell .into .recovery {
	background: #292928 !important;
	color: #ffda43 !important;
}

.mui-table-view-cell .into #indate {
	font-size: 1rem;
	height: 2rem;
	line-height: 2rem;
	display: none;
	position: absolute;
	right: -1.5rem;
	width: 13rem;
	color: #ffbb28;
}

.mui-table-view-cell .into #indate .date {
	font-family: 'nubFont';
}

.date p {
	font-size: 1rem;
	margin-right: -.5rem;
}

.vip-group {
	color: red !important
}


/*.mui-table-view:last-child {
	border: none;
}*/

@media all and (orientation: landscape) {
	.mian_mes {
		position: relative;
	}
	#segmentedControl {
		margin-top: .4rem;
		position: relative;
		top: 0;
	}
	.mui-content {
		padding-top: 0;
	}
	.mui-control-content {
		padding-top: 0;
	}
}

#girdSix li {
	width: 33%;
	text-align: center;
	font-size: 1.1rem;
	color: #333333;
	margin-top: 3.7rem;
	position: relative;
}

#girdSix li>div .mes_num {
	position: absolute;
	width: 0.75rem;
	height: 0.75rem;
	color: #fff;
	background: red;
	border-radius: 50%;
	text-align: center;
	line-height: 1.4rem;
	font-size: 1rem;
	top: 0.1rem;
	right: 4.2rem;
	font-family: 'nubFont';
}

#girdSix li>div {
	width: 4.65rem;
	height: 4.75rem;
	object-fit: contain;
	margin: 0 auto;
}
#girdSix li>div img{
	width: 100%;
	height: 100%;
}
#girdSix li>div span {}
.close_btn {
    display: block;
    float: right;
    width: 1.6rem;
    height: 1.6rem;
    background: url(close.png)/*tpa=http://www.w2gou.com/h5/img/buy/close.png*/ no-repeat;
    background-size: 16px 16px;
    position: absolute;
    top: 1.4rem;
    right: 1.5rem;
    background-size: cover;
}
.mui-popup-title {
    height: 4.4rem;
    line-height: 4.4rem;
     background-color: #292928;
     color: #ffda43;
     font-size: 1.6rem;
     width: 100%;
     border-radius: 5px 5px 0 0;
}
.mui-popup-inner {
    position: relative;
   padding: 0;
    border-radius: 5px 5px 0 0;
    background:#fff;
}
.mui-popup {
    width: 82.4%;
    border-radius: 5px;
    overflow: inherit;
}
.mui-popup-title+.mui-popup-text {
    font-family: inherit;
    font-size: 1.4rem;
   margin: 0;
    height: 9.55rem;
     color: #292928;
     padding: 2.9rem;
     line-height: 2rem;
}
.mui-popup-title+.mui-popup-text p{
     color: #292928;
    margin-bottom: 0;
    font-size: 1.4rem;
    line-height: 2rem;
}
.mui-popup-text #groupNum{
	color: #ffa302;
}
.mui-popup-text #dateNum{
	color: #ffa302;
}
.mui-popup-button:first-child {
    border-radius: 0 0 0 5px;
}
.mui-popup-button:last-child {
    border-radius: 0 0 5px 0;
    color: #ffa302;
}
.mui-popup-button {
    font-size: 1.4rem;
    line-height: 4.4rem;
    width: 100%;
    height: 4.4rem;
    padding: 0;
    text-overflow: ellipsis;
    color: #999999;
    background: #fff;
    font-weight: bolder;
}
.mui-popup-button:after {
    background-color: #e5e5e5;
}
.mui-popup-inner:after {
    background-color: #e5e5e5;
}

/*广告*/
#to_syq{
	position:relative;
}
#to_syq img{
	width:100%;
	height:100%;
	cursor: pointer;
}
#to_syq .close{
	position:absolute;
	right:0;
	top:0;
	width:2.3rem;
	cursor: pointer;
}
#to_syq .close img{
	width:100%;
}

/*图片弹窗*/
.mask{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.5);
	z-index: 501;
}
.popup{
	position:fixed;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	/*width:20rem;
	height:22rem;*/
	z-index: 502;
}
.popup-img{
	border-radius: .5rem;
	width:30rem;
	height:40rem;
	/*background:#fff;*/
	position:relative;
	border-radius: 1.5rem;
	background:#393939;
}
.active-text{
	width: 100%;
    position: absolute;
    left: 0;
    bottom: 0rem;
    text-align: center;
    color: rgba(255,255,255,.8);
    font-size: 1.2rem;
}
.look-btn{
	position:absolute;
	left:50%;
	width:19.5rem;
	height:4.5rem;
	margin-left:-9.75rem;
	bottom:4rem;
	line-height:4.5rem;
	text-align:center;
	color: #333;
    background: rgb(255,217,32);
	border-radius: 2.25rem;
	font-size:1.6rem;
	font-weight: bold;
}
.popup-img img{
	width:100%;
}
.popup-close{
	width: 4rem;
    height: 4rem;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: -6.2rem;
    margin-left: -2rem;
	background:url(popup-close.png)/*tpa=http://www.w2gou.com/h5/img/buy/popup-close.png*/ no-repeat center center ;
	background-size: 100%;
}